<div id="supercars">
  <div class="container">
    <div class="score one">

    </div>
    <div class="card one">

    </div>
  </div>

  <div class="container">
    <div class="score two">

    </div>
    <div class="card two">

    </div>
  </div>
</div>
