<div id="supercars">
  <div class="container">
    <div class="score" id="p1score">

    </div>
    <div class="card" id="one">

    </div>
  </div>

  <div class="container">
    <div class="score" id="p2score">

    </div>
    <div class="card" id="two">

    </div>
  </div>
</div>
